{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; XTDB dependencies
  com.xtdb/xtdb-api {:mvn/version "2.0.0-SNAPSHOT"}
  com.xtdb/xtdb-core {:mvn/version "2.0.0-SNAPSHOT"}

  ;; Webserver dependencies
  metosin/reitit {:mvn/version "0.6.0"}
  metosin/jsonista {:mvn/version "0.3.3"}
  ring/ring-jetty-adapter {:mvn/version "1.7.1"}
  hiccup/hiccup {:mvn/version "2.0.0-RC2"}

  ;; Logging
  ch.qos.logback/logback-classic {:mvn/version "1.4.5"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 com.lambdaisland/classpath  {:mvn/version "0.0.27"}
                 hato/hato                   {:mvn/version "0.9.0"}
                 cheshire/cheshire           {:mvn/version "5.12.0"}}
   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
              "-Dio.netty.tryReflectionSetAccessible=true"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.4" :git/sha "8c3cd69"}}
          :ns-default build}}

 :mvn/repos
 {"central"         {:url "https://repo1.maven.org/maven2/"}
  "clojars"         {:url "https://clojars.org/repo"}
  "ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}}
