{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; XTDB dependencies
  com.xtdb/xtdb-api {:mvn/version "2.0.0-SNAPSHOT"}
  com.xtdb/xtdb-core {:mvn/version "2.0.0-SNAPSHOT"}

  ;; Webserver dependencies
  metosin/reitit {:mvn/version "0.6.0"}
  metosin/jsonista {:mvn/version "0.3.3"}
  ring/ring-jetty-adapter {:mvn/version "1.7.1"}
  hiccup/hiccup {:mvn/version "2.0.0-RC2"}

  ;; Logging
  ch.qos.logback/logback-classic {:mvn/version "1.4.5"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}}

 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs               {:mvn/version "2.26.2"}
                re-frame/re-frame                  {:mvn/version "1.4.2"}
                com.lambdaisland/glogi             {:mvn/version "1.3.169"}
                applied-science/js-interop         {:mvn/version "0.4.2"}
                cider/cider-nrepl                  {:mvn/version "0.44.0"}
                refactor-nrepl/refactor-nrepl      {:mvn/version "3.9.0"}
                io.github.nextjournal/clojure-mode {:git/sha "5d88847aecd253e047f36565e0455bfec7f4964d"}
                day8.re-frame/http-fx              {:mvn/version "0.2.4"}}}

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 com.lambdaisland/classpath  {:mvn/version "0.0.27"}
                 hato/hato                   {:mvn/version "0.9.0"}
                 cheshire/cheshire           {:mvn/version "5.12.0"}
                 }
   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
              "-Dio.netty.tryReflectionSetAccessible=true"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.4" :git/sha "8c3cd69"}}
          :ns-default build}}

 :mvn/repos
 {"central"         {:url "https://repo1.maven.org/maven2/"}
  "clojars"         {:url "https://clojars.org/repo"}
  "ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}}
