{:parameters
 {:body
  {:tx-type :sql-v2,
   :tx-batches
   [{:txs
     "INSERT INTO docs (_id, col1) VALUES (1, 'foo');\nINSERT INTO docs RECORDS {_id: 2, col1: 'bar', col2:' baz'};",
     :system-time nil}
    {:txs "SELECT * FROM docs", :query true}]}}}
